* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 50px;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/**for large devices****/
@media (min-width : 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/***for medium devices***/
@media (min-width :768px) and (max-width:991px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
}

/***FOR SMALL DEVICES*/
@media (max-width:767) {
  .col-sm-12 {
    width: 100%;
  }
}

.content-box {
  border: 5px solid black;
  margin: 15px;
  background-color: #878787;
}

.title {
  position: relative;
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  padding: 0px;
  border: 5px solid black;
  border-top: 0px;
  border-right: 0px;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.first {
  background-color: #E5ACB6;
}

.second {
  background-color: #FF4C4C;
  color: #FFFFFF;
}

.third {
  background-color: #FFFF8B;
}

.content {
  padding: 20px;
  font-weight: 500;
  margin: 10px;
}
